/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Rancho', cursive; */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
main,
header {
  padding: 1rem;
}
img {
  /* Default all images to 100% */
  width: 100%;
}
/* header style start */
header nav ul li {
  display: none;
}

#logo {
  display: inline;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: "Rancho", cursive;
}
#burger-menu {
  display: inline;
  float: right;
  font-size: 1.6rem;
}
/* header style end */

/* hero style start */

.hero-info h1 {
  font-weight: 400;
  font-size: 3.5rem;
  color: rgb(50, 50, 50);
  margin: 3rem 0;
}

.line-block {
  color: #2a9d8f;
}

#hero-buttons {
  display: flex;
  justify-content: space-around;
}

#hero-buttons :first-child {
  background-color: #e76f51;
  color: white;
  padding: 0.5rem 1.5rem;
  box-shadow: 5px 5px 15px #e76f51;
  border-radius: 5px;
  border: none;
  margin-right: 15%;
}

#hero-buttons :last-child {
  background-color: white;
  border: none;
  font-size: 1rem;
}

.hero-info {
  margin: 3rem 0;
}

/* hero style end */

/*  style start */
/*  style end */

@media screen and (min-width: 725px) {
  body {
    max-width: 960px;
    margin: 0 auto;
  }
  main {
    padding: 0;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav ul li {
    display: inline;
    font-weight: 700;
    font-size: 1.2rem;
  }
  #burger-menu {
    display: none;
  }

  .hero {
    display: flex;
    padding: 1rem;
  }

  .hero-info {
    padding: 1rem;
  }
  .line-block {
    display: block;
  }
  #hero-butons {
    justify-content: flex-start;
  }
  #hero-img {
    min-width: 375px;
  }
}

/* to continue 3/5 39:00 */
